In [1]:
import pandas as pd

In [2]:
idf = pd.DataFrame(pd.read_csv('data/item_data.csv'))
#item_id 	Unique id for item
#brand 	Unique id for item brand

In [4]:
print(idf.shape)
idf.head()

(74066, 4)

   item_id  brand   brand_type       category
0        1      1  Established        Grocery
1        2      1  Established  Miscellaneous
2        3     56        Local         Bakery
3        4     56        Local        Grocery
4        5     56        Local        Grocery

In [9]:
print(len(idf.item_id.unique()))
print(len(idf.brand.unique()))
print(len(idf.brand_type.unique()))
print(len(idf.category.unique()))

74066
5528
2
19

In [54]:
idf.brand.value_counts()

56      10480
686      1142
1        1091
4700      923
1262      906
487       735
619       717
946       626
4467      607
1124      594
172       556
278       547
602       546
89        451
158       441
1470      426
971       412
866       407
771       398
808       392
714       380
1088      358
1101      347
673       321
2088      318
328       313
4412      309
475       299
1134      296
209       295
        ...
4500        1
3438        1
2327        1
1455        1
4372        1
2263        1
3566        1
3630        1
3694        1
5229        1
2775        1
4884        1
5140        1
5396        1
1238        1
3223        1
2926        1
3159        1
1110        1
3095        1
2990        1
2839        1
943         1
3054        1
2967        1
5012        1
2903        1
5165        1
3118        1
2047        1
Name: brand, Length: 5528, dtype: int64

In [62]:
idf.brand.value_counts(bins=3)

(-4.5280000000000005, 1843.333]    53018
(3685.667, 5528.0]                 11085
(1843.333, 3685.667]                9963
Name: brand, dtype: int64

In [71]:
#(-4.5280000000000005, 1843.333), (3685.667, 5528.0), (1843.333, 3685.667)])
# ['Large', 'Medium', 'Small']
idf['brand_category'] = pd.cut(idf.brand, bins=3, labels=['Large', 'Medium', 'Small'])

In [32]:
idf['brand_category'] = pd.qcut(idf.brand, 3, labels=['Large', 'Medium', 'Small'])

In [76]:
idf.head()

   item_id  brand   brand_type       category brand_category
0        1      1  Established        Grocery          Large
1        2      1  Established  Miscellaneous          Large
2        3     56        Local         Bakery          Large
3        4     56        Local        Grocery          Large
4        5     56        Local        Grocery          Large

In [81]:
idf.category.value_counts()

Grocery                   32448
Pharmaceutical            24471
Natural Products           2533
Dairy, Juices & Snacks     2425
Skin & Hair Care           2244
Meat                       2080
Packaged Meat              1966
Prepared Food              1880
Bakery                     1679
Seafood                     728
Flowers & Plants            664
Miscellaneous               385
Alcohol                     303
Garden                      102
Restauarant                  78
Salads                       40
Travel                       19
Fuel                         14
Vegetables (cut)              7
Name: category, dtype: int64

In [82]:
idf.category.unique()

array(['Grocery', 'Miscellaneous', 'Bakery', 'Pharmaceutical',
       'Packaged Meat', 'Seafood', 'Natural Products',
       'Dairy, Juices & Snacks', 'Prepared Food', 'Skin & Hair Care',
       'Meat', 'Travel', 'Flowers & Plants', 'Fuel', 'Salads', 'Alcohol',
       'Garden', 'Restauarant', 'Vegetables (cut)'], dtype=object)

In [83]:
# Normalizing to Grocery, Pharmaceutical and Others
idf['category_updated'] = idf['category'].replace({'Miscellaneous':'Others', 
                                                   'Bakery':'Others',
                                                   'Packaged Meat':'Others',
                                                   'Seafood':'Others',
                                                   'Natural Products':'Others',
                                                   'Dairy, Juices & Snacks':'Others',
                                                   'Prepared Food':'Others',
                                                   'Skin & Hair Care':'Others',
                                                   'Meat':'Others',
                                                   'Travel':'Others',
                                                   'Flowers & Plants':'Others',
                                                   'Fuel':'Others',
                                                   'Salads':'Others',
                                                   'Alcohol':'Others',
                                                   'Garden':'Others',
                                                   'Restauarant':'Others',
                                                   'Vegetables (cut)':'Others'})

In [84]:
idf.head()

   item_id  brand   brand_type       category brand_category category_updated
0        1      1  Established        Grocery          Large          Grocery
1        2      1  Established  Miscellaneous          Large           Others
2        3     56        Local         Bakery          Large           Others
3        4     56        Local        Grocery          Large          Grocery
4        5     56        Local        Grocery          Large          Grocery

In [85]:
idf.to_csv('updated-data/updated_item_data.csv', columns={'item_id','brand_category','brand_type','category_updated'}, index=False)